<h1>Legislator Lookup</h1>

<form>
  <div class="form-group">
    <label for="zip">Zip</label>
    {{input value=zip id="zip"}}
  </div>

  <button class="btn btn-primary" {{action 'submit'}}>Submit</button>
</form>

{{outlet}}


<!-- {{#if viewLegislators}}
  <ul>
    {{#each legislator in model}}
      <li>{{legislator.first_name}} {{legislator.last_name}} Contact: {{contact_form}}</li>
    {{/each}}
  </ul>
{{/if}} -->
